<template>
    <v-app>
        <MainToolbar/>
        <vue-headful :title="account.firstName + ' ' + account.lastName" />
        <v-container>
            <div>
                <ul>
                    <li>Email: {{account.email}}</li>
                    <li>First name: {{account.firstName}}</li>
                    <li>Last name: {{account.lastName}}</li>
                </ul>

                <v-btn primary outline @click="logout()">
                    Logout
                </v-btn>
            </div>
        </v-container>
        <BottomNavigation/>
    </v-app>
</template>

<script>
    import BottomNavigation from "../common/BottomNavigation";
    import MainToolbar from "../common/MainToolbar";
    export default {
        name: "Profile",
        components: {MainToolbar, BottomNavigation},
        computed: {
            account() {
                return this.$store.state.account.account
            }
        },

        mounted() {
            this.fetchAccount();
        },

        methods: {
            fetchAccount() {
                return this.$store.dispatch('fetchMyAccount');
            },

            logout() {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/signIn');
                    })
            }
        }
    }
</script>

<style scoped>

</style>
