<template>
    <v-form>
        <v-card>
            <v-card-text>
                <div class="headline text-xs-center">Sign in</div>

                <div v-if="errorMessage">
                    <v-alert
                            :value="true"
                            color="error"
                            icon="warning"
                            outline
                    >
                        <span class="subheading">{{errorMessage}}</span>
                    </v-alert>
                </div>
                <v-text-field
                        v-model="authDetails.email"
                        label="Email"
                        required
                ></v-text-field>

                <v-text-field
                        v-model="authDetails.password"
                        label="Password"
                        type="password"
                        required
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
                <span class="mr-3 ml-2 text-xs-center body-2">
                    <span class="blue-grey--text">Don't have an account?</span>
                    <router-link to="/signUp"> Join!</router-link>
                </span>
                <v-spacer/>
                <v-btn
                        color="primary"
                        @click="signIn()"
                >
                    Sign in
                </v-btn>
            </v-card-actions>
        </v-card>

    </v-form>
</template>

<script>
    export default {
        name: "SignInForm",
        props: {
            authDetails: Object,
            errorMessage: String,
            signIn: Function
        }
    };
</script>

<style scoped>

</style>
