<template>
    <v-bottom-nav

            :value="true"
            absolute
            color="transparent"
    >
        <v-btn v-for="button in buttons" :key="button.title"
               color="#2296f3"
               flat
               :value="button.value"
               :to="button.link"
        >
            <span>{{button.title}}</span>
            <v-icon>{{button.icon}}</v-icon>
        </v-btn>
    </v-bottom-nav>
</template>

<script>
    export default {
        name: "BottomNavigation",
        data: () => {
            return {
                buttons: [
                    {title: "Profile", icon: "fas fa-user-circle", link: "/profile", value: "profile"},
                    {title: "Messages", icon: "fas fa-comments", link: "/messages", value: "messages"},
                    {title: "Search", icon: "fas fa-search", link: "/search", value: "search"},
                ]
            };
        }
    };
</script>

<style scoped>

</style>