<template>
    <v-toolbar dark color="primary">
        <v-toolbar-side-icon></v-toolbar-side-icon>

        <v-toolbar-title class="white--text">Blurry</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn icon>
            <v-icon>notifications</v-icon>
        </v-btn>

        <v-btn icon>
            <v-icon>more_vert</v-icon>
        </v-btn>

        <v-btn icon large @click="logout">
            <v-avatar size="32px">
                <img
                        :src="account.avatarUrl ? account.avatarUrl : 'https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png'"
                        :alt="account.firstName"
                >
            </v-avatar>
        </v-btn>
    </v-toolbar>
</template>

<script>
    export default {
        name: "MainToolbar",

        computed: {
            account() {
                return this.$store.state.account.account;
            }
        },

        methods: {
            logout() {
                this.$store.dispatch("logout")
                    .then(() => {
                        this.$router.push("/signIn");
                    });
            }
        }
    };
</script>

<style scoped>

</style>