<template>
    <v-app>
        <vue-headful title="Messages"/>
        <MainToolbar/>
        <v-content>

        </v-content>
        <BottomNavigation/>
    </v-app>
</template>

<script>
    import BottomNavigation from "../common/BottomNavigation";
    import MainToolbar from "../common/MainToolbar";
    export default {
        name: "Search",
        components: {MainToolbar, BottomNavigation}
    };
</script>

<style scoped>

</style>