<template>
    <v-card>
        <v-toolbar card prominent>
            <v-btn fab dark small color="primary" to="/messages">
                <v-icon dark>fas chevron-circle-left</v-icon>
            </v-btn>
            <v-layout align-center justify-end row>
                <v-flex shrink>
                    <span class="title">{{room.name}}</span>
                </v-flex>
            </v-layout>

            <v-spacer></v-spacer>

            <v-btn icon>
                <v-icon>more_horiz</v-icon>
            </v-btn>

            <v-avatar size="32px">
                <img
                        :src="room.avatar"
                        :alt="room.name"
                >
            </v-avatar>
        </v-toolbar>
        <v-divider></v-divider>

        <v-card-text>
            <v-container
                    style="max-height: 700px"
                    class="scroll-y white"
            >
                <v-layout
                        v-scroll
                        column
                        align-start
                        justify-end
                >
                    <v-flex>
                        <div v-for="message in messages">
                            <Message :message="message"/>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions>
            <v-layout>
                <v-flex grow>
                    <v-text-field
                            v-model="inputMessage.message"
                            label="Write message..."
                            single-line
                            outline
                    ></v-text-field>
                </v-flex>
                <v-flex shrink mt-2 ml-2>
                    <v-btn fab dark small @click="sendMessage" color="primary">
                        <v-icon dark>send</v-icon>
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-card-actions>
    </v-card>
</template>

<script>
    import Message from "./Message";
    import {addHandler, sendMessage} from "../../connection/websocket";

    export default {
        name: "Dialog",
        components: {Message},
        data() {
            return {
                inputMessage: {
                    roomId: this.$route.query.id,
                    message: '',
                    authorId: 1
                },
            }
        },
        computed: {
            account() {
                return this.$store.state.account.account
            },
            room() {
                console.log("Room: ");
                console.log(this.$store.state.message.room);
                return this.$store.state.message.rooms.find(m => m.id === this.$route.query.id)
            },
            messages() {
                console.log("Messages: ");
                const room = this.$store.state.message.rooms.find(m => m.id === this.$route.query.id);
                const messages = (room === undefined) ? [] : room.messages;
                console.log(messages);
                return messages
            },
            roomId() {
                return this.$route.query.id
            }
        },
        mounted() {
            this.fetchRoom();
            this.fetchMessages();
            this.fetchAccount();
        },
        created() {
            addHandler(message => {
                console.log("execution of handler");
                const msg = JSON.parse(message);
                console.log(msg);
                this.$store.commit('addMessage', msg)
            })
        },
        methods: {
            fetchMessages() {
                this.$store.dispatch('fetchMessagesByRoomId', this.$route.query.id)
            },
            fetchRoom() {
                this.$store.dispatch('fetchRoom', this.$route.query.id)
            },
            fetchAccount() {
                return this.$store.dispatch('fetchMyAccount');
            },
            sendMessage() {
                this.inputMessage.authorId = this.account.id;
                console.log("Acc id:" + this.inputMessage.authorId);
                sendMessage(this.inputMessage)
            },
        }
    };
</script>

<style scoped>

</style>