<template>
    <v-container fluid>
        <v-layout row>
            <v-flex shrink>
                <v-avatar v-if="message" size="40px">
                    <img
                            :src="message.author.avatarUrl"
                            :alt="message.authorId"
                    >
                </v-avatar>
            </v-flex>
            <v-flex grow ml-2>
                <v-layout column>
                    <v-flex shrink>
                        <v-layout row>
                            <v-flex shrink>
                                <span class="font-weight-bold ">{{message.author.firstName}}
                                    {{message.author.lastName}}</span>
                            </v-flex>
                            <v-flex grow ml-2>
                                <span class="grey--text">{{parseData(message.sentDate)}}</span>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <v-flex grow>
                        {{message.message}}
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "Message",
        props: {
            message: Object
        },
        methods: {
            parseData(date) {
                return date.substr(11, 5) + "   "  + date.substr(0, 10) ;
            }
        }
    };
</script>

<style scoped>

</style>