<template>
    <v-app>
        <vue-headful title="Messages"/>
        <MainToolbar/>
        <v-content>
            <v-layout row class="dialog">
                <v-flex xs12 md8 offset-md2 lg6 offset-lg3 xl4 offset-xl4>
                    <Dialog v-if="this.$route.query.id" class="mt-2 "></Dialog>
                    <MessagePreviewContainer v-else class="mt-2" :rooms="rooms"/>
                </v-flex>
            </v-layout>
        </v-content>
        <BottomNavigation/>
    </v-app>
</template>

<script>
    import BottomNavigation from "../common/BottomNavigation";
    import MainToolbar from "../common/MainToolbar";
    import MessagePreviewContainer from "./RoomPreviewContainer";
    import Dialog from "./Dialog";

    export default {
        name: "RoomList",
        components: {Dialog, MessagePreviewContainer, MainToolbar, BottomNavigation},
        data() {
            return {
                messages: [
                    {
                        id: 1,
                        avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
                        title: "Samat",
                    },
                    {divider: true, inset: true},
                    {
                        id: 3,
                        avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
                        title: "Samat",
                    },
                    {divider: true, inset: true},
                    {
                        id: 2,
                        avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
                        title: "Samat",
                    }
                ]
            };
        },

        computed: {
            rooms() {
                console.log(this.$store.state.message.rooms)
                return this.$store.state.message.rooms
            }
        },
        mounted() {
            this.fetchRooms();
        },
        methods: {
            fetchRooms() {
                this.$store.dispatch('fetchRooms')
            }
        }
    };
</script>

<style scoped>
    .dialog {
        padding-bottom: 100px;
    }
</style>
