<template>
    <v-card light>
        <v-layout>
            <v-flex grow>
                <v-text-field
                        v-model="roomName"
                        color="primary"
                        flat
                        label="Room name"
                        solo-inverted
                ></v-text-field>
            </v-flex>
            <v-flex shrink>
                <v-btn color="success" @click="createRoom">Create room</v-btn>
            </v-flex>
        </v-layout>

        <v-list two-line>
            <MessagePreview
                    v-for="room in rooms"
                    :room="room"
            />
        </v-list>
    </v-card>
</template>

<script>
    import MessagePreview from "./RoomPreview";

    export default {
        name: "MessagePreviewContainer",
        components: {MessagePreview},
        data() {
            return {
                roomName: ''
            }
        },
        props: {
            rooms: Array
        },
        methods: {
            createRoom() {
                this.$store.dispatch('createRoom', {name: this.roomName})
            }
        }
    };
</script>

<style scoped>

</style>
