<template>
    <div>
        <v-divider
                v-if="room.divider"
                :inset="room.inset"
        ></v-divider>

        <v-list-tile
                v-else
                :key="room.name"
                avatar
                @click="openDialog"
        >
            <v-list-tile-avatar>
                <img :src="room.avatar">
            </v-list-tile-avatar>

            <v-list-tile-content>
                <v-list-tile-title v-html="room.name"></v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </div>
</template>

<script>
    export default {
        name: "MessagePreview",
        props: {
            room: Object
        },

        methods: {
            openDialog() {
                this.$router.push({path: "/messages", query: {id: this.room.id}});
            }
        }
    };
</script>

<style scoped>

</style>
